* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.button {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: white !important;
  background-color: #2ab7ca;
  border: none;
  padding: 1rem 1.5rem;
  margin: 0 10px;
  font-size: 16px;
}
.button--largo {
  width: 100%;
  margin: 0;
  padding: 15px;
}

.tarjeta {
  color: rgb(0, 0, 0);
  padding: 20px 30px;
  margin: 0 30px;
  border: 1px solid #aeacaf;
  background-color: #fff;
}
.tarjeta:hover {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s cubic-bezier(0.19, 1, 1.22, 1), -webkit-box-shadow 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.tarjeta__titulo, .tarjeta__precio {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0.5rem;
}
.tarjeta__titulo {
  font-weight: 400;
  font-size: 20px;
}
.tarjeta__precio {
  font-weight: 700;
  font-size: 30px;
}
.tarjeta__linea {
  border-color: #c7c8cc;
}
.tarjeta__list {
  min-height: 180px;
  font-family: "Open Sans", sans-serif;
}
.tarjeta__item {
  font-size: 0.9rem;
  line-height: 35px;
}
.tarjeta__button {
  padding-top: 0.5rem;
  font-size: 0.95rem;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1rem;
  row-gap: 2rem;
}

.col-12 {
  grid-column: span 12;
}

.col-11 {
  grid-column: span 11;
}

.col-10 {
  grid-column: span 10;
}

.col-9 {
  grid-column: span 9;
}

.col-8 {
  grid-column: span 8;
}

.col-7 {
  grid-column: span 7;
}

.col-6 {
  grid-column: span 6;
}

.col-5 {
  grid-column: span 5;
}

.col-4 {
  grid-column: span 4;
}

.col-3 {
  grid-column: span 3;
}

.col-2 {
  grid-column: span 2;
}

.col-1 {
  grid-column: span 1;
}

@media (min-width: 768px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
.navbar {
  background-color: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px;
  width: 100%;
}
.navbar__logo img {
  width: 40px;
  height: 40px;
}
.navbar__container {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
.navbar__list--derecha {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
.navbar__list--derecha a {
  color: rgb(0, 0, 0);
}
.navbar__list--izquierda {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  margin-left: 20px;
}
.navbar__list--izquierda a {
  margin: 0 20px;
  font-weight: 400;
  font-size: 16px;
  color: rgb(0, 0, 0);
}
.navbar__menu {
  font-size: 30px;
}

@media (max-width: 575.98px) {
  .navbar__list--derecha, .navbar__list--izquierda {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar__list--derecha, .navbar__list--izquierda {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar__menu {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .navbar__menu {
    display: none;
  }
}
@media (min-width: 1200px) {
  .navbar__menu {
    display: none;
  }
}
.footer {
  padding: 3rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
  font-family: "Raleway", sans-serif;
  color: white;
  background: #221d23;
}
.footer__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
}
.footer__item {
  font-size: 0.8rem;
  margin: 0 20px;
}
.footer__item a {
  text-decoration: none;
  color: white;
}
.footer__item a:hover {
  color: gray;
}

@media (max-width: 575.98px) {
  .footer {
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
  }
  .footer__text {
    text-align: center;
  }
  .footer__list {
    margin-top: 10px;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
  }
  .footer__item {
    margin: 15px 10px;
  }
}
.header {
  max-width: 100vw;
}
.header__img img {
  width: 100%;
  z-index: -9999;
}
.header__description {
  padding: 10px;
  z-index: 9999;
  top: 120px;
  width: 1230px;
  position: absolute;
  margin: 20px;
}
.header__description p {
  line-height: 25px;
}
.header__titulo {
  font-size: 50px;
}

@media (max-width: 575.98px) {
  .header__img {
    margin-top: 230px;
  }
  .header__description {
    top: 80px;
    width: 300px;
  }
  .header__titulo {
    font-size: 35px;
    margin-bottom: 10px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .header__img {
    margin-top: 130px;
  }
  .header__description {
    top: 80px;
    width: 300px;
  }
  .header__titulo {
    font-size: 35px;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .header__img {
    margin-top: 100px;
  }
  .header__description {
    top: 80px;
    width: 600px;
  }
  .header__titulo {
    font-size: 35px;
    margin-bottom: 10px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .header__img {
    margin-top: 100px;
  }
  .header__description {
    top: 80px;
    width: 600px;
  }
  .header__titulo {
    font-size: 40px;
  }
}
.main .caracteristicas {
  text-align: center;
  margin: 15px 0 30px 0;
}
.main .caracteristicas__bloque {
  margin: 50px 0;
}
.main .caracteristicas__barchart {
  width: 100%;
  height: 165px;
  background: url("/assets/img/bar-graph.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: 100px;
  animation: fadeIn 1.5s ease-in-out infinite alternate;
}
.main .caracteristicas__info {
  width: 400px;
  text-align: left;
  line-height: 25px;
}
.main .caracteristicas__texto {
  margin-top: 20px;
}
.main .precios {
  background-image: url("/assets/img/bg-price.svg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-clip: border-box;
  color: white;
  width: 100%;
  height: 100vh;
  position: relative;
  margin-top: 10px;
}
.main .precios__tarjeta {
  padding: 0 200px;
}
.main .precios__titulo {
  text-align: center;
  padding-top: 220px;
  color: white;
  padding-bottom: 50px;
}

@media (max-width: 575.98px) {
  .main .caracteristicas {
    text-align: center;
    margin: 0;
  }
  .main .caracteristicas__bloque {
    margin: 0;
  }
  .main .caracteristicas__barchart {
    margin-left: 0;
    margin-top: 10px;
  }
  .main .caracteristicas__info {
    width: 100%;
    padding: 10px;
  }
  .main .caracteristicas__titulo {
    margin: 20px 0;
  }
  .main .precios {
    background-position: top center;
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    margin-top: -100px;
  }
  .main .precios__tarjeta {
    padding: 0;
  }
  .main .precios__titulo {
    padding-top: 220px;
  }
}
@media (min-width: 575px) and (max-width: 767.98px) {
  .main .caracteristicas {
    text-align: center;
    margin: 0;
  }
  .main .caracteristicas__bloque {
    margin: 0;
  }
  .main .caracteristicas__barchart {
    margin-left: 0;
    margin-top: 10px;
  }
  .main .caracteristicas__info {
    width: 100%;
    padding: 10px;
  }
  .main .caracteristicas__titulo {
    margin: 20px 0;
  }
  .main .caracteristicas__texto {
    margin-top: 20px;
  }
  .main .precios {
    background-position: top center;
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    margin-top: -100px;
  }
  .main .precios__tarjeta {
    padding: 50px;
  }
  .main .precios__titulo {
    padding-top: 220px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .main .caracteristicas {
    text-align: center;
    margin: 0;
  }
  .main .caracteristicas__bloque {
    margin: 0;
  }
  .main .caracteristicas__barchart {
    margin-left: 0;
    margin-top: 10px;
  }
  .main .caracteristicas__info {
    width: 100%;
    padding: 10px;
  }
  .main .caracteristicas__titulo {
    margin: 20px 0;
  }
  .main .caracteristicas__texto {
    margin-top: 20px;
  }
  .main .precios {
    background-position: top center;
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    margin-top: -100px;
  }
  .main .precios__tarjeta {
    padding: 0 100px;
  }
  .main .precios__titulo {
    padding-top: 220px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .main .precios {
    background-position: top center;
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    margin-top: -100px;
  }
  .main .precios__tarjeta {
    padding: 0 100px;
  }
}

/*# sourceMappingURL=main.css.map */
