.header {
    max-width: 100vw;
    &__img {
        & img {
            width: 100%;
            z-index: -9999;
        }
    }
    &__description {
        padding: 10px;
        z-index: 9999;
        top: 120px;
        width: 1230px;
        position: absolute;
        margin: 20px;
        p {
            line-height: 25px;
        }
    }
    &__titulo {
        font-size: $xxxxx-large;
    }
}

@media (max-width: 575.98px) {
    .header {
        &__img {
            margin-top: 230px;
        }
        &__description {
            top: 80px;
            width: 300px;
        }
        &__titulo {
            font-size: $xx-large;
            margin-bottom: 10px;
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .header {
        &__img {
            margin-top: 130px;
        }
        &__description {
            top: 80px;
            width: 300px;
        }
        &__titulo {
            font-size: $xx-large;
            margin-bottom: 10px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .header {
        &__img {
            margin-top: 100px;
        }
        &__description {
            top: 80px;
            width: 600px;
        }
        &__titulo {
            font-size: $xx-large;
            margin-bottom: 10px;
        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .header {
        &__img {
            margin-top: 100px;
        }
        &__description {
            top: 80px;
            width: 600px;
        }
        &__titulo {
            font-size: $xxx-large;
        }
    }
}